<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->

  
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css" />
    

    <!-- Web app manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">


    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="static/images/icon.png" type="image/x-icon">
    <meta name="description" content="your_pwa_description">
    <meta name="theme-color" content="#009688">
    <title>{{title}}</title>
  </head>

  <body>
    <form action="{{action}}" enctype="multipart/form-data" method="POST">
        <header>
            <div class="navbar-fixed">
                <nav class="teal">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo left">
                              <img src="static/images/logo-navbar.png" alt="" height="64" srcset="">
                            </a>
                            <ul id="nav" class="right">
                                <li id="installButton" hidden><a href=#"><i class="material-icons">system_update</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        {% block main %}
        {% endblock main %}

    </form>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/actions.js"></script>
    {% if msg %}
    <script>
      M.toast({html: '{{msg}}'})
    </script>
    {% endif %}
    <script>
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker
          .register('./service-worker.js')
          .then(function(registration) {
              console.log('Service Worker Registered!');
              return registration;
          })
          .catch(function(err) {
              console.error('Unable to register service worker.', err);
          });
      }

      let deferredInstallPrompt = null;
      const installButton = document.getElementById('installButton');
      installButton.addEventListener('click', installPWA);
      
      window.addEventListener('beforeinstallprompt', saveBeforeInstallPromptEvent);

      function saveBeforeInstallPromptEvent(evt) {
        deferredInstallPrompt = evt;
        installButton.removeAttribute('hidden');
      }

      function installPWA(evt) {
        deferredInstallPrompt.prompt();
        evt.srcElement.setAttribute('hidden', true);
        deferredInstallPrompt.userChoice
        .then((choice) => {
          if (choice.outcome === 'accepted') {
            console.log('User accepted the A2HS prompt', choice);
          } else {
            console.log('User dismissed the A2HS prompt', choice);
          }
          deferredInstallPrompt = null;
        });
      }

      window.addEventListener('appinstalled', logAppInstalled);
      
      function logAppInstalled(evt) {
        console.log('App was installed.', evt);
      }

    </script>
  </body>
</html>
