<!DOCTYPE html>
<html>
  <head>

    <!-- Basic declarations and Meta descriptions -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="your_pwa_description">
    <meta name="theme-color" content="#009688">
    <link rel="shortcut icon" href="static/images/icon.png" type="image/x-icon">

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css" />
    
    <!-- Web app manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- iOS -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple_icon.png">
    <link rel="apple-touch-startup-image" href="static/images/apple_launch.webp">
    <meta name="apple-mobile-web-app-title" content="Loly OCR">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#009688">

    <title>{{title}}</title>

  </head>

  <body>
    <form action="{{action}}" enctype="multipart/form-data" method="POST">
        <header>
            <div class="navbar-fixed">
                <nav class="teal">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo left">
                              <img src="static/images/logo-navbar.png" alt="" height="64" srcset="">
                            </a>
                            <ul id="nav" class="right">
                                <li id="installButton" hidden><a href=#"><i class="material-icons">system_update</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        {% block main %}
        {% endblock main %}

    </form>

    <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/actions.js"></script>
    {% if msg %}
    <script>
      M.toast({html: '{{msg}}'})
    </script>
    {% endif %}
    <script>
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker
          .register('./service-worker.js')
          .then(function(registration) {
              console.log('Service Worker Registered!');
              return registration;
          })
          .catch(function(err) {
              console.error('Unable to register service worker.', err);
          });
      }
    </script>
    <script src="static/js/install.js"></script>
  </body>
</html>
