{% extends 'base.html' %} {% block main %}
<main>
  <div class="container">
    <div class="row">
      <div class="input-field col s12 m6 l3">
        <select name="lang">
          <option value="" disabled selected>Choose Language</option>
          {% for lang in langs %}
          <option value="{{lang}}">{{lang}}</option>
          {% endfor %}
        </select>
        <label class="black-text">Select file language</label>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="file-field input-field">
          <div class="btn">
            <span><i class="material-icons left">attach_file</i>File</span>
            <input type="file" name="imgae" />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="file-field input-field">
          <div class="btn">
            <span><i class="material-icons left">camera_alt</i>Camers</span>
            <input type="file" accept="image/*" capture="user" name="camera" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- end main section -->
<!-- start footer section -->
<footer class="page-footer teal">
  <div class="footer-copyright">
    <div class="container">
      <button class="btn-floating cyan right" type="submit" name="action">
        <i class="material-icons right">arrow_forward</i>
      </button>
    </div>
  </div>
</footer>
<!-- end footer section -->
{% endblock main %}
